<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Twitch Scoreboard">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Twitch Scoreboard</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>
    <main class="instructions">
      <h1>Twitch Scoreboard</h1>



    </main>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
