<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    body { text-align: center; color: #ccc;}
    h1,h2,p { margin: 0; }
    p{line-height: 10px;}
    </style>
  </head>
  <body>
    <h1>
        <span class="wins"><%= player.score %></span>
         -
        <span class="losses"><%= opponent.score %></span>
    </h1>
    <p>vs.</p>
    <h2 class="opponent"><%= opponent.teamName %></h2>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).on('ready',function(){

            var $body = $('body');
            var $wins = $body.find('.wins');
            var $losses = $body.find('.losses')
            var $opponent = $body.find('.opponent')
            var getUrl = window.location.href + '/get/'

            function updateScore(){
                $.ajax({
                    url: getUrl,
                    dataType:"JSON"
                }).done(function(data) {
                    console.log(data);
                    $wins.text(data.player.score);
                    $losses.text(data.opponent.score);
                    $opponent.text(data.opponent.teamName);

                });
            }

            setInterval( updateScore, 2000);

        });
    </script>
  </body>
</html>
